@model StudentCoreUsingMVC.Models.Student
@{
    ViewBag.Title = "Get Student";
}

<html>

    <h2> Getting Students By ID</h2>

    <table border="1">
        <tr>
            <th>Student ID</th>
            <td>@Model.StudentId</td>
        </tr>
         <tr>
            <th>Student Name</th>
            <td>@Model.StudentName</td>
        </tr>
         <tr>
            <th>Student Subject</th>
            <td>@Model.subject</td>
        </tr>
         <tr>
            <th>Student Marks</th>
            <td>@Model.Marks</td>
        </tr>
    </table>
</html>