@using HelloCoreMVC.Models
@model IEnumerable<Employee>
@{
    Layout = null;
}
 
<!DOCTYPE html>
 
<html>
<head>
<meta name="viewport" content="width=device-width" />
<title>GetEmployee</title>
</head>
<body>
<hr />
<div>
<table border="1">
<tr>
<th>Employee ID</th>
<th>Employee Name</th>
<th>Salary</th>
</tr>
            @foreach (Employee item in Model)
            {
<tr>
<td>@item.Id</td>
<td>@item.Name</td>
<td>@item.Salary</td>
</tr>
            }
</table>
</div>
</body>
</html>